{% extends "base.html" %}

{% block title %}Albania Election Data{% endblock %}

{% block page_content %}
    <div class="jumbotron" id="map"></div>
{% block scripts %}
<script src="{{ url_for('static', filename='js/albQarkData.geojson') }}"></script>
<script>
$(function () {
  $("#menu").metisMenu();
});

var mapboxAccessToken = 'pk.eyJ1IjoibWJhbGRhc3Nhcm8iLCJhIjoiSWh6TTB1TSJ9.RABYWZRRJIe4h9E6lqgfKQ';
var map = L.map('map').setView([41.2, 20.1], 8);
var geojson;
var info = L.control();

info.onAdd = function(map) {
  this._div = L.DomUtil.create('div', 'info');
  this.update();
  return this._div;
};

info.update = label;

L.tileLayer('https://api.mapbox.com/styles/v1/mbaldassaro/cj1nrn7p8001q2rterv5gv0xq/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.mapbox.com/styles/v1/mbaldassaro/cj1mjs3qs00172rmorb7yngef/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
  id: 'mapbox.light',  //.satellite, .dark, .light
  attribution: "Mapbox | OpenStreetMap"
}).addTo(map);
//L.geoJson(qarkData, {style: style}).addTo(map);

function highlightFeature(e) {
  var layer = e.target;
  layer.setStyle({
    weight: 2,
    color: '#FFFFFF',
    dashArray: '',
    fillOpacity: 0.8
  });
  if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
       layer.bringToFront();
   }
   info.update(layer.feature.properties);
}

function resetHighlight(e) {
    geojson.resetStyle(e.target);
    info.update();
}

function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
}

function onEachFeature(feature, layer) {
    layer.on({
        mouseover: highlightFeature,
        mouseout: resetHighlight,
        click: zoomToFeature
    });
}

geojson = L.geoJson(qarkData, {
    style: style,
    onEachFeature: onEachFeature
}).addTo(map);

info.addTo(map);

</script>
{% endblock %}
{% endblock %}
