{% extends "base.html" %}

{% block title %}Albania Election Data{% endblock %}

{% block page_content %}
    <div class="jumbotron" id="map"></div>
{% block scripts %}
<script>
/*var mapboxAccessToken = 'pk.eyJ1IjoibWJhbGRhc3Nhcm8iLCJhIjoiSWh6TTB1TSJ9.RABYWZRRJIe4h9E6lqgfKQ';
var map = L.map('map').setView([41.2, 20.1], 8);*/

/*L.tileLayer('https://api.mapbox.com/styles/v1/mbaldassaro/cj1nrn7p8001q2rterv5gv0xq/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.mapbox.com/styles/v1/mbaldassaro/cj1mjs3qs00172rmorb7yngef/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
  id: 'mapbox.light',  //.satellite, .dark, .light
  attribution: "Mapbox | OpenStreetMap",
  layers:
}).addTo(map);*/
//L.geoJson(qarkData, {style: style}).addTo(map);
</script>
{% endblock %}
{% endblock %}
