{% extends "index.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/ase2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/apmi2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/ps2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/pd2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/lsi2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/pdiu2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/pr2013.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/turnout2013Kom.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/heatmaptest.json' )}}"></script>
<script>


//var mapboxAccessToken = 'pk.eyJ1IjoibWJhbGRhc3Nhcm8iLCJhIjoiSWh6TTB1TSJ9.RABYWZRRJIe4h9E6lqgfKQ';
var map = L.map('map').setView([41.2, 20.1], 8);
/*var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/mbaldassaro/cj1nrn7p8001q2rterv5gv0xq/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
//var mapbox = L.tileLayer('https://api.mapbox.com/styles/v1/mbaldassaro/cj1mjs3qs00172rmorb7yngef/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
//var mapbox = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=' + mapboxAccessToken, {
//L.tileLayer('https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/256/{z}/{x}/{y}?access_token=' + mapboxAccessToken, {
  //id: 'mapbox.light',  //.satellite, .dark, .light
  attribution: "<a href='https://www.mapbox.com/about/maps/'>Mapbox</a> | <a href='http://www.openstreetmap.org/about/'>OpenStreetMap</a>"
}).addTo(map);*/

L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
		}).addTo(map);

var ase2013geojson;
var apmi2013geojson;
var ps2013geojson;
var pd2013geojson;
var lsi2013geojson;
var pdiu2013geojson;
var pr2013geojson;
var turnout2013Komgeojson;
var infoASE = L.control({position: 'bottomright'});  //alt ({position: 'bottomright'})
var infoAPMI = L.control({position: 'bottomright'});
var infoPS = L.control({position: 'bottomright'});
var infoPD = L.control({position: 'bottomright'});
var infoLSI = L.control({position: 'bottomright'});
var infoPDIU = L.control({position: 'bottomright'});
var infoPR = L.control({position: 'bottomright'});
var infoKomVT = L.control({position: 'bottomright'});

//ASE 2013 /////////////////
function asestyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#4a1486' :
         d > 60 ? '#6a51a3' :
         d > 50 ? '#807dba' :
         d > 40 ? '#9e9ac8' :
         d > 30 ? '#bcbddc' :
                  'gray';
      }
  }

function ase2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoASE.update(layer.feature.properties);
  }

function ase2013resetHighlight(e) {
      ase2013geojson.resetStyle(e.target);
      infoASE.update();
  }

function ase2013EachFeature(feature, layer) {
      layer.on({
          mouseover: ase2013highlightFeature,
          mouseout: ase2013resetHighlight
      });
    }

infoASE.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoASE.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Total Votes: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

infoASE.addTo(map)
//END ASE 2013 /////////////////////////////////////

//APMI 2013 ////////////////////////////
function apmistyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
    }

  function getColor(d) {
    return d > 50 ? '#084594' :
           d > 40 ? '#2171b5' :
           d > 30 ? '#4292c6' :
           d > 20 ? '#6baed6' :
           d > 10 ? '#9ecae1' :
                      'gray';
      }
  }

function apmi2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoAPMI.update(layer.feature.properties);
  }

function apmi2013resetHighlight(e) {
      apmi2013geojson.resetStyle(e.target);
      infoAPMI.update();
  }

function apmi2013EachFeature(feature, layer) {
      layer.on({
        mouseover: apmi2013highlightFeature,
        mouseout: apmi2013resetHighlight
    });
  }

  infoAPMI.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

  infoAPMI.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Hello!: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

  infoAPMI.addTo(map)
//END APMI 2013 /////////////////////////////////////

//PS 2013 ////////////////////////////////////////////
function psstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 50 ? '#4a1486' :
         d > 40 ? '#6a51a3' :
         //d > 40 ? '#807dba' :
         d > 30 ? '#9e9ac8' :
         d > 20 ? '#bcbddc' :
                  '#dadaeb';
      }
  }

function ps2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoPS.update(layer.feature.properties);
  }

function ps2013resetHighlight(e) {
      ps2013geojson.resetStyle(e.target);
      infoPS.update();
  }

function ps2013EachFeature(feature, layer) {
      layer.on({
          mouseover: ps2013highlightFeature,
          mouseout: ps2013resetHighlight//,
          //click: zoomToFeature
      });
    }

infoPS.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoPS.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Total Votes: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

infoPS.addTo(map)
//END PS 2013 /////////////////////////////////////

//PD 2013 ////////////////////////////////////////////
function pdstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
    return d > 50 ? '#2171b5' :
           d > 40 ? '#4292c6' :
           d > 30 ? '#6baed6' :
           d > 20 ? '#9ecae1' :
                    '#c6dbef';
      }
  }

function pd2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoPD.update(layer.feature.properties);
  }

function pd2013resetHighlight(e) {
      pd2013geojson.resetStyle(e.target);
      infoPD.update();
  }

function pd2013EachFeature(feature, layer) {
      layer.on({
          mouseover: pd2013highlightFeature,
          mouseout: pd2013resetHighlight
      });
    }

infoPD.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoPD.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Total Votes: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

infoPD.addTo(map)
//END PD 2013 /////////////////////////////////////

//LSI 2013 ////////////////////////////////////////////
function lsistyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
    return d > 20 ? '#ef3b2c' :
           d > 15 ? '#fb6a4a' :
           d > 10 ? '#fc9272' :
           d > 5 ? '#fcbba1' :
                    '#fee5d9';
      }
  }

function lsi2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoLSI.update(layer.feature.properties);
  }

function lsi2013resetHighlight(e) {
      lsi2013geojson.resetStyle(e.target);
      infoLSI.update();
  }

function lsi2013EachFeature(feature, layer) {
      layer.on({
          mouseover: lsi2013highlightFeature,
          mouseout: lsi2013resetHighlight
      });
    }

infoLSI.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoLSI.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Total Votes: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

infoLSI.addTo(map)
//END LSI 2013 /////////////////////////////////////

//PDIU 2013 ////////////////////////////////////////////
function pdiustyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
    return d > 5 ? '#87ceeb' :
           d > 2 ? '#b9ebff' :
           d > 0 ? '#dff6ff' :
                    '#fee5d9';
      }
  }

function pdiu2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoPDIU.update(layer.feature.properties);
  }

function pdiu2013resetHighlight(e) {
      pdiu2013geojson.resetStyle(e.target);
      infoPDIU.update();
  }

function pdiu2013EachFeature(feature, layer) {
      layer.on({
          mouseover: pdiu2013highlightFeature,
          mouseout: pdiu2013resetHighlight
      });
    }

infoPDIU.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoPDIU.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Total Votes: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

infoPDIU.addTo(map)
//END PDIU 2013 /////////////////////////////////////

//PR 2013 ////////////////////////////////////////////
function prstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
    return d > 5 ? '#3660b2' :
           d > 2 ? '#c6dbef' :
           d > 0 ? '#eff3ff' :
                    '#fee5d9';
      }
  }

function pr2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoPR.update(layer.feature.properties);
  }

function pr2013resetHighlight(e) {
      pr2013geojson.resetStyle(e.target);
      infoPR.update();
  }

function pr2013EachFeature(feature, layer) {
      layer.on({
          mouseover: pr2013highlightFeature,
          mouseout: pr2013resetHighlight
      });
    }

infoPR.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoPR.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>' + '<h4>Total Votes: ' + props.totalVotes + '</h4>' + '<h4>Total Seats: ' + props.totalSeats + '</h4>' + '<h3>' + props.party + '</h3>' + '<h4>Vote Percentage: ' + props.percent + '%</h4><h4>Votes Received: ' + props.votes + '</h4><h4>Seats Won: ' + props.seats + '</h4>' + '' : '')
  };

infoPR.addTo(map)
//END PR 2013 /////////////////////////////////////


//KOM VT 2013 /////////////////////////////////////
function komvtstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#8c2d04' :
         d > 60 ? '#cc4c02' :
         d > 50 ? '#ec7014' :
         d > 40 ? '#fe9929' :
         d > 30 ? '#fec44f' :
         d > 20 ? '#fee391' :
                  '#ffffd4';
      }
  }

function komvt2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoKomVT.update(layer.feature.properties);
  }

function komvt2013resetHighlight(e) {
      turnout2013Komgeojson.resetStyle(e.target);
      infoKomVT.update();
  }

function komvt2013EachFeature(feature, layer) {
      layer.on({
          mouseover: komvt2013highlightFeature,
          mouseout: komvt2013resetHighlight,
          click: zoomToFeature
      });
    }

infoKomVT.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoKomVT.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.komune + '</h3>' + '<h4>Registered Voters: ' + props.registerVoters + '</h4>' + '<h4>Total Voters: ' + props.totalVoters + '</h4>' + '<h4>Turnout Percentage: ' + props.percent + '%</h4>' + '' : '')
  };

infoKomVT.addTo(map)
//END KOM VT 2013

//ALL  /////////////
function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }

//ASE
var ase2013geojson = L.geoJson(ase2013, {
    style: asestyle,
    onEachFeature: ase2013EachFeature
});

//APMI
var apmi2013geojson = L.geoJson(apmi2013, {
    style: apmistyle,
    onEachFeature: apmi2013EachFeature
});

//PS
var ps2013geojson = L.geoJson(ps2013, {
    style: psstyle,
    onEachFeature: ps2013EachFeature
});

//PD
var pd2013geojson = L.geoJson(pd2013, {
    style: pdstyle,
    onEachFeature: pd2013EachFeature
});

//LSI
var lsi2013geojson = L.geoJson(lsiData, {    //temporary: change to lsi2013
    style: lsistyle,
    onEachFeature: lsi2013EachFeature
});

//PDIU
var pdiu2013geojson = L.geoJson(pdiu2013, {    //temporary: change to lsi2013
    style: pdiustyle,
    onEachFeature: pdiu2013EachFeature
});

//PR
var pr2013geojson = L.geoJson(pr2013, {    //temporary: change to lsi2013
    style: prstyle,
    onEachFeature: pr2013EachFeature
});

//VTKom
var turnout2013Komgeojson = L.geoJson(turnout2013Kom, {
    style: komvtstyle,
    onEachFeature: komvt2013EachFeature
});

//heatmap - json array
var heat = L.heatLayer(heatData, {
  radius: 10,
  maxZoom: 10
  /*
  minOpacity - the minimum opacity the heat will start at
  maxZoom - zoom level where the points reach maximum intensity (as intensity scales with zoom), equals maxZoom of the map by default
  max - maximum point intensity, 1.0 by default
  radius - radius of each "point" of the heatmap, 25 by default
  blur - amount of blur, 15 by default
  gradient - color gradient config, e.g. {0.4: 'blue', 0.65: 'lime', 1: 'red'}
  */
});

var overlayMaps = {
  "2013 ASHE": ase2013geojson,
  "2013 APPD": apmi2013geojson,
  "2013 PS": ps2013geojson,
  "2013 PD": pd2013geojson,
  "2013 LSI": lsi2013geojson,
	"2013 PDIU": pdiu2013geojson,
	"2013 PR": pr2013geojson,
  "2013 Turnout (Komune)": turnout2013Komgeojson,
  "Heat": heat
};

map.addLayer(ase2013geojson);
L.control.layers(overlayMaps, null, {collapsed:false, position: 'bottomleft'}).addTo(map);

</script>
{{super()}}
{% endblock %}
