{% extends "index.html" %}

{% block scripts %}
<script>
var title = "2013 ASE Vote Percentage";
var label = function(props) {
  this._div.innerHTML = (props ? '<h3>' + props.name + '</h3><h3>' + props.prevpercentAleancaPerShqiperineEuropiane + "%" + '</h3>' : '')
};

function getColor(d) {
    return d > 70 ? '#54278f' :
           d > 60 ? '#756bb1' :
           d > 50 ? '#9e9ac8' :
           d > 40 ? '#bcbddc' :
           d > 30 ? '#dadaeb' :
                    'red';
        }

function style(feature) {
  return {
    fillColor: getColor(feature.properties.prevpercentAleancaPerShqiperineEuropiane),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  };
}

</script>
{{super()}}
{% endblock %}
