{% extends "base.html" %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/data/turnout/turnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/mvfTurnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/maleTurnout2015bas.geojson')}}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/femaleTurnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalidMayor2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalidCouncil2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/turnout2013qark.geojson')}}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/turnout2013bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/turnout2013Kom.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalid2013bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalid2013kom.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2013qark.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2013bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2013kom.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalid2013bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalid2013kom.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/mvfTurnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/maleTurnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/femaleTurnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalidMayor2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalidCouncil2015bas.js') }}"></script>
<script>

var turnout2013qarkgeojson;
var turnout2013basgeojson;
var turnout2013Komgeojson;
var invalid2013basgeojson;
var invalid2013komgeojson;
var turnout2015basgeojson;
var mvfTurnout2015basgeojson;
var maleTurnout2015basgeojson;
var femaleTurnout2015basgeojson;
var invalidMayor2015basgeojson;
var invalidCouncil2015basgeojson;

var voterReg = "{{gettext('Registered Voters')}}";
var voterTot = "{{gettext('Total Voters')}}";
var turnout = "{{gettext('Turnout Percentage')}}";
var voterRegF = "{{gettext('Registered Female Voters')}}";
var voterTotF = "{{gettext('Female Voter Turnout')}}";
var voterPctF = "{{gettext('Female Turnout Percentage')}}";
var voterRegM = "{{gettext('Registered Male Voters')}}";
var voterTotM = "{{gettext('Male Voter Turnout')}}";
var voterPctM = "{{gettext('Male Turnout Percentage')}}";
var difference = "{{gettext('Difference')}} (+/-)";
var castBallot = "{{gettext('Ballots Cast')}}";
var votesInv = "{{gettext('Invalid Votes')}}";
var pctInv = "{{gettext('Invalid Percentage')}}";

var overlayMaps = {
  "2015 {{gettext('Turnout')}} - Bashkia": turnout2015basgeojson,
  "2015 {{gettext('Turnout')}} - Bashkia ({{gettext('Male')}})": maleTurnout2015basgeojson,
  "2015 {{gettext('Turnout')}} - Bashkia ({{gettext('Female')}})": femaleTurnout2015basgeojson,
  "2015 {{gettext('Turnout')}} - Bashkia (M vs F)": mvfTurnout2015basgeojson,
  "2013 {{gettext('Turnout')}} - Qarku": turnout2013qarkgeojson,
  "2013 {{gettext('Turnout')}} - Bashkia": turnout2013basgeojson,
  "2013 {{gettext('Turnout')}} - Komuna": turnout2013Komgeojson,
	"2015 {{gettext('Invalid')}} - Bashkia ({{gettext('Mayor')}})": invalidMayor2015basgeojson,
	"2015 {{gettext('Invalid')}} - Bashkia ({{gettext('Council')}})": invalidCouncil2015basgeojson,
  "2013 {{gettext('Invalid')}} - Bashkia": invalid2013basgeojson,
	"2013 {{gettext('Invalid')}} - Komuna": invalid2013komgeojson
};

map.addLayer(turnout2013Komgeojson);
L.control.layers(baseLayers, null, {collapsed: true, position: 'topright'}).addTo(map);
L.control.layers(overlayMaps, null, {collapsed:false, position: 'bottomleft'}).addTo(map);
legendVT2013kom.addTo(map);
infoKomVT.addTo(map);

var currentLegend = legendVT2013kom;
var currentInfo = infoKomVT;

map.on('baselayerchange', function(eventLayer) {
  if(eventLayer.name === '2013 {{gettext('Turnout')}} - Komuna') {
    map.removeControl(currentLegend);
    currentLegend = legendVT2013kom;
    legendVT2013kom.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoKomVT;
    infoKomVT.addTo(map);
  }
  else if(eventLayer.name === '2015 {{gettext('Turnout')}} - Bashkia ({{gettext('Female')}})') {
    map.removeControl(currentLegend);
    currentLegend = legendFVT2015bas;
    legendFVT2015bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoFVT;
    infoFVT.addTo(map);
  }
  else if(eventLayer.name === '2015 {{gettext('Turnout')}} - Bashkia ({{gettext('Male')}})') {
    map.removeControl(currentLegend);
    currentLegend = legendMVT2015bas;
    legendMVT2015bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoMVT;
    infoMVT.addTo(map);
  }
  else if(eventLayer.name === '2015 {{gettext('Turnout')}} - Bashkia (M vs F)') {
    map.removeControl(currentLegend);
    currentLegend = legendMVF2015bas;
    legendMVF2015bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoMVF;
    infoMVF.addTo(map);
  }
  else if(eventLayer.name === '2013 {{gettext('Turnout')}} - Bashkia') {
    map.removeControl(currentLegend);
    currentLegend = legendVT2013bas;
    legendVT2013bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoBasVT;
    infoBasVT.addTo(map);
  }
  else if(eventLayer.name === '2013 {{gettext('Turnout')}} - Qarku') {
    map.removeControl(currentLegend);
    currentLegend = legendVT2013qark;
    legendVT2013qark.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoQarkVT;
    infoQarkVT.addTo(map);
  }
  else if(eventLayer.name === '2015 {{gettext('Turnout')}} - Bashkia') {
    map.removeControl(currentLegend);
    currentLegend = legendVT2015bas;
    legendVT2015bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoBasVT15;
    infoBasVT15.addTo(map);
  }
  else if(eventLayer.name === '2015 {{gettext('Invalid')}} - Bashkia ({{gettext('Mayor')}})') {
    map.removeControl(currentLegend);
    currentLegend = legendMINV2015bas;
    legendMINV2015bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoBasMINV;
    infoBasMINV.addTo(map);
  }
  else if(eventLayer.name === '2015 {{gettext('Invalid')}} - Bashkia ({{gettext('Council')}})') {
    map.removeControl(currentLegend);
    currentLegend = legendCINV2015bas;
    legendCINV2015bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoBasCINV;
    infoBasCINV.addTo(map);
  }
  else if(eventLayer.name === '2013 {{gettext('Invalid')}} - Bashkia') {
    map.removeControl(currentLegend);
    currentLegend = legendINV2013bas;
    legendINV2013bas.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoBasINV;
    infoBasINV.addTo(map);
  }
  else if(eventLayer.name === '2013 {{gettext('Invalid')}} - Komuna') {
    map.removeControl(currentLegend);
    currentLegend = legendINV2013kom;
    legendINV2013kom.addTo(map);
    map.removeControl(currentInfo);
    currentInfo = infoKomINV;
    infoKomINV.addTo(map);
  }
});

</script>
{{super()}}
{% endblock %}
