{% extends "base.html" %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/data/turnout/turnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/mvfTurnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/maleTurnout2015bas.geojson')}}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/femaleTurnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalidMayor2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalidCouncil2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/turnout2013qark.geojson')}}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/turnout2013bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/turnout2013Kom.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalid2013bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/data/turnout/invalid2013kom.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2013qark.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2013bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2013kom.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalid2013bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalid2013kom.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/turnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/mvfTurnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/maleTurnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/femaleTurnout2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalidMayor2015bas.js') }}"></script>
<script src="{{ url_for('static', filename='js/turnout/invalidCouncil2015bas.js') }}"></script>
<script>

var turnout2013qarkgeojson;
var turnout2013basgeojson;
var turnout2013Komgeojson;
var invalid2013basgeojson;
var invalid2013komgeojson;
var turnout2015basgeojson;
var mvfTurnout2015basgeojson;
var maleTurnout2015basgeojson;
var femaleTurnout2015basgeojson;
var invalidMayor2015basgeojson;
var invalidCouncil2015basgeojson;

var voterReg = "{{gettext('Registered Voters')}}: ";
var voterTot = "{{gettext('Total Voters')}}: ";
var turnout = "{{gettext('Turnout Percentage')}}: ";
var voterRegF = "{{gettext('Registered Female Voters')}}: ";
var voterTotF = "{{gettext('Female Voter Turnout')}}: ";
var voterPctF = "{{gettext('Female Turnout Percentage')}}: ";
var voterRegM = "{{gettext('Registered Male Voters')}}: ";
var voterTotM = "{{gettext('Male Voter Turnout')}}: ";
var voterPctM = "{{gettext('Male Turnout Percentage')}}: ";
var difference = "{{gettext('Difference')}} (+/-): ";
var castBallot = "{{gettext('Ballots Cast')}}: ";
var votesInv = "{{gettext('Invalid Votes')}}: ";
var pctInv = "{{gettext('Invalid Percentage')}}: ";

var overlayMaps = {
  "2015 {{gettext('Turnout')}} - Bashkia": turnout2015basgeojson,
  "2015 {{gettext('Turnout')}} - Bashkia ({{gettext('Male')}})": maleTurnout2015basgeojson,
  "2015 {{gettext('Turnout')}} - Bashkia ({{gettext('Female')}})": femaleTurnout2015basgeojson,
  "2015 {{gettext('Turnout')}} - Bashkia (M vs F)": mvfTurnout2015basgeojson,
  "2013 {{gettext('Turnout')}} - Qark": turnout2013qarkgeojson,
  "2013 {{gettext('Turnout')}} - Bashkia": turnout2013basgeojson,
  "2013 {{gettext('Turnout')}} - Komune": turnout2013Komgeojson,
	"2015 {{gettext('Invalid')}} - Bashkia ({{gettext('Mayor')}})": invalidMayor2015basgeojson,
	"2015 {{gettext('Invalid')}} - Bashkia ({{gettext('Council')}})": invalidCouncil2015basgeojson,
  "2013 {{gettext('Invalid')}} - Bashkia": invalid2013basgeojson,
	"2013 {{gettext('Invalid')}} - Komune": invalid2013komgeojson
};

map.addLayer(turnout2015basgeojson);
L.control.layers(baseLayers, null, {collapsed: true, position: 'topright'}).addTo(map);
L.control.layers(overlayMaps, null, {collapsed:false, position: 'bottomleft'}).addTo(map);

</script>
{{super()}}
{% endblock %}
