{% extends "base.html" %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/turnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/mvfTurnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/maleTurnout2015bas.geojson')}}"></script>
<script src="{{ url_for('static', filename='js/femaleTurnout2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/invalidMayor2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/invalidCouncil2015bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/turnout2013qark.geojson')}}"></script>
<script src="{{ url_for('static', filename='js/turnout2013bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/turnout2013Kom.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/invalid2013bas.geojson') }}"></script>
<script src="{{ url_for('static', filename='js/invalid2013kom.geojson') }}"></script>
<script>

var turnout2013qarkgeojson;
var turnout2013basgeojson;
var turnout2013Komgeojson;
var invalid2013basgeojson;
var invalid2013komgeojson;
var turnout2015basgeojson;
var mvfTurnout2015basgeojson;
var maleTurnout2015basgeojson;
var femaleTurnout2015basgeojson;
var invalidMayor2015basgeojson;
var invalidCouncil2015basgeojson;
var infoQarkVT = L.control({position: 'bottomright'});
var infoBasVT = L.control({position: 'bottomright'});
var infoKomVT = L.control({position: 'bottomright'});
var infoBasINV = L.control({position: 'bottomright'});
var infoKomINV = L.control({position: 'bottomright'});
var infoBasVT15 = L.control({position: 'bottomright'});
var infoMVF = L.control({position: 'bottomright'});
var infoMVT = L.control({position: 'bottomright'});
var infoFVT = L.control({position: 'bottomright'});
var infoBasMINV = L.control({position: 'bottomright'});
var infoBasCINV = L.control({position: 'bottomright'});

//QARK VT 2013 /////////////////////////////////////
function qarkvtstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#8c2d04' :
         d > 60 ? '#cc4c02' :
         d > 50 ? '#ec7014' :
         d > 40 ? '#fe9929' :
         d > 30 ? '#fec44f' :
         d > 20 ? '#fee391' :
                  '#ffffd4';
      }
  }

function qarkvt2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoQarkVT.update(layer.feature.properties);
  }

function qarkvt2013resetHighlight(e) {
      turnout2013qarkgeojson.resetStyle(e.target);
      infoQarkVT.update();
  }

function qarkvt2013EachFeature(feature, layer) {
      layer.on({
          mouseover: qarkvt2013highlightFeature,
          mouseout: qarkvt2013resetHighlight
          //click: zoomToFeature
      });
    }

infoQarkVT.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoQarkVT.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.name + '</h3>'
    + '<h4>Registered Voters: ' + props.registeredVoters + '</h4>'
    + '<h4>Total Voters: ' + props.totalVoters + '</h4>'
    + '<h4>Turnout Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoQarkVT.addTo(map)
//END QARK VT 2013

//BAS VT 2013 /////////////////////////////////////
function basvtstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#8c2d04' :
         d > 60 ? '#cc4c02' :
         d > 50 ? '#ec7014' :
         d > 40 ? '#fe9929' :
         d > 30 ? '#fec44f' :
         d > 20 ? '#fee391' :
                  '#ffffd4';
      }
  }

function basvt2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoBasVT.update(layer.feature.properties);
  }

function basvt2013resetHighlight(e) {
      turnout2013basgeojson.resetStyle(e.target);
      infoBasVT.update();
  }

function basvt2013EachFeature(feature, layer) {
      layer.on({
          mouseover: basvt2013highlightFeature,
          mouseout: basvt2013resetHighlight,
          click: zoomToFeature
      });
    }

infoBasVT.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoBasVT.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Registered Voters: ' + props.registeredVoters + '</h4>'
    + '<h4>Total Voters: ' + props.totalVoters + '</h4>'
    + '<h4>Turnout Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoBasVT.addTo(map)
//END BAS VT 2013

//KOM VT 2013 /////////////////////////////////////
function komvtstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#8c2d04' :
         d > 60 ? '#cc4c02' :
         d > 50 ? '#ec7014' :
         d > 40 ? '#fe9929' :
         d > 30 ? '#fec44f' :
         d > 20 ? '#fee391' :
                  '#ffffd4';
      }
  }

function komvt2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoKomVT.update(layer.feature.properties);
  }

function komvt2013resetHighlight(e) {
      turnout2013Komgeojson.resetStyle(e.target);
      infoKomVT.update();
  }

function komvt2013EachFeature(feature, layer) {
      layer.on({
          mouseover: komvt2013highlightFeature,
          mouseout: komvt2013resetHighlight,
          click: zoomToFeature
      });
    }

infoKomVT.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoKomVT.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.komune + '</h3>'
    + '<h4>Registered Voters: ' + props.registerVoters + '</h4>'
    + '<h4>Total Voters: ' + props.totalVoters + '</h4>'
    + '<h4>Turnout Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoKomVT.addTo(map)
//END KOM VT 2013

//BAS INV 2013 /////////////////////////////////////
function basinvstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 5 ? '#000000' :
				 d > 4 ? '#252525' :
				 d > 3 ? '#525252' :
         d > 2 ? '#737373' :
         d > 1 ? '#969696' :
         d > 0 ? '#bdbdbd' :
         //d > 1 ? '#d9d9d9' :
         //d > 0 ? '#f0f0f0' :
                  '#ffffff';
      }
  }

function basinv2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoBasINV.update(layer.feature.properties);
  }

function basinv2013resetHighlight(e) {
      invalid2013basgeojson.resetStyle(e.target);
      infoBasINV.update();
  }

function basinv2013EachFeature(feature, layer) {
      layer.on({
          mouseover: basinv2013highlightFeature,
          mouseout: basinv2013resetHighlight,
          click: zoomToFeature
      });
    }

infoBasINV.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoBasINV.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Ballots Cast: ' + props.ballotsCast + '</h4>'
    + '<h4>Invalid Votes: ' + props.invalidBallots + '</h4>'
    + '<h4>Invalid Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoBasINV.addTo(map)
//END BAS INV 2013

//KOM INV 2013 /////////////////////////////////////
function kominvstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 5 ? '#000000' :
				 d > 4 ? '#252525' :
				 d > 3 ? '#525252' :
         d > 2 ? '#737373' :
         d > 1 ? '#969696' :
         d > 0 ? '#bdbdbd' :
         //d > 1 ? '#d9d9d9' :
         //d > 0 ? '#f0f0f0' :
                  '#ffffff';
      }
  }

function kominv2013highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoKomINV.update(layer.feature.properties);
  }

function kominv2013resetHighlight(e) {
      invalid2013komgeojson.resetStyle(e.target);
      infoKomINV.update();
  }

function kominv2013EachFeature(feature, layer) {
      layer.on({
          mouseover: kominv2013highlightFeature,
          mouseout: kominv2013resetHighlight,
          click: zoomToFeature
      });
    }

infoKomINV.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoKomINV.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.komune + '</h3>'
    + '<h4>Ballots Cast: ' + props.ballotsCast + '</h4>'
    + '<h4>Invalid Votes: ' + props.invalidVotes + '</h4>'
    + '<h4>Invalid Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoKomINV.addTo(map)
//END KOM INV 2013

//BAS VT 2015 /////////////////////////////////////
function basvt15style(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#8c2d04' :
         d > 60 ? '#cc4c02' :
         d > 50 ? '#ec7014' :
         d > 40 ? '#fe9929' :
         d > 30 ? '#fec44f' :
         d > 20 ? '#fee391' :
                  '#ffffd4';
      }
  }

function basvt2015highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoBasVT15.update(layer.feature.properties);
  }

function basvt2015resetHighlight(e) {
      turnout2015basgeojson.resetStyle(e.target);
      infoBasVT15.update();
  }

function basvt2015EachFeature(feature, layer) {
      layer.on({
          mouseover: basvt2015highlightFeature,
          mouseout: basvt2015resetHighlight,
          click: zoomToFeature
      });
    }

infoBasVT15.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoBasVT15.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Registered Voters: ' + props.registeredVoters + '</h4>'
    + '<h4>Total Voters: ' + props.totalVoters + '</h4>'
    + '<h4>Turnout Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoBasVT15.addTo(map)
//END BAS VT 2015

//BAS MALE vs Female VT 2015 /////////////////////////////////////
function basmvfstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 10 ? '#034e7b' :
         d > 8 ? '#0570b0' :
         d > 6 ? '#3690c0' :
         d > 4 ? '#74a9cf' :
         d > 2 ? '#a6bddb' :
         d > 0 ? '#d0d1e6' :
         d > -1 ? '#eff3ff' :
         d > -2 ? '#feebe2' :
         d > -4 ? '#fcc5c0' :
         d > -6 ? '#fa9fb5' :
         d > -8 ? '#f768a1' :
         d > -10 ? '#dd3497' :
                  'gray';
      }
  }

function basMVFhighlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoMVF.update(layer.feature.properties);
  }

function basMVFresetHighlight(e) {
      mvfTurnout2015basgeojson.resetStyle(e.target);
      infoMVF.update();
  }

function basMVFeachFeature(feature, layer) {
      layer.on({
          mouseover: basMVFhighlightFeature,
          mouseout: basMVFresetHighlight,
          click: zoomToFeature
      });
    }

infoMVF.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoMVF.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Registered Male Voters: ' + props.registeredM + '</h4>'
    + '<h4>Male Voter Turnout: ' + props.turnoutM + '</h4>'
    + '<h4>Male Turnout Percentage: ' + props.percentM + '%</h4>'
    + '<h4>Registered Female Voters: ' + props.registeredF + '</h4>'
    + '<h4>Female Voter Turnout: ' + props.turnoutF + '</h4>'
    + '<h4>Female Turnout Percentage: ' + props.percentF + '%</h4>'
    + '<h4>Difference (+/-): ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoMVF.addTo(map)
//END MVF bas 2015

//BAS MALE VT 2015 /////////////////////////////////////
function basmvtstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#034e7b' :
         d > 60 ? '#0570b0' :
         d > 50 ? '#3690c0' :
         d > 40 ? '#74a9cf' :
         d > 30 ? '#a6bddb' :
         d > 20 ? '#d0d1e6' :
                  '#f1eef6';
      }
  }

function basMVThighlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoMVT.update(layer.feature.properties);
  }

function basMVTresetHighlight(e) {
      maleTurnout2015basgeojson.resetStyle(e.target);
      infoMVT.update();
  }

function basMVTeachFeature(feature, layer) {
      layer.on({
          mouseover: basMVThighlightFeature,
          mouseout: basMVTresetHighlight,
          click: zoomToFeature
      });
    }

infoMVT.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoMVT.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Registered Male Voters: ' + props.registeredM + '</h4>'
    + '<h4>Male Voter Turnout: ' + props.turnoutM + '</h4>'
    + '<h4>Male Turnout Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoMVT.addTo(map)
//END MVT bas 2015

//BAS Female VT 2015 /////////////////////////////////////
function basfvtstyle(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 70 ? '#7a0177' :
         d > 60 ? '#ae017e' :
         d > 50 ? '#dd3497' :
         d > 40 ? '#f768a1' :
         d > 30 ? '#fa9fb5' :
         d > 20 ? '#fcc5c0' :
                  '#feebe2';
      }
  }

function basFVThighlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoFVT.update(layer.feature.properties);
  }

function basFVTresetHighlight(e) {
      femaleTurnout2015basgeojson.resetStyle(e.target);
      infoFVT.update();
  }

function basFVTeachFeature(feature, layer) {
      layer.on({
          mouseover: basFVThighlightFeature,
          mouseout: basFVTresetHighlight,
          click: zoomToFeature
      });
    }

infoFVT.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoFVT.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Registered Female Voters: ' + props.registeredF + '</h4>'
    + '<h4>Female Voter Turnout: ' + props.turnoutF + '</h4>'
    + '<h4>Female Turnout Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoFVT.addTo(map)
//END FVT bas 2015

//BAS Mayor INV 2015 /////////////////////////////////////
function basminv15style(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 5 ? '#000000' :
				 d > 4 ? '#252525' :
				 d > 3 ? '#525252' :
         d > 2 ? '#737373' :
         d > 1 ? '#969696' :
         d > 0 ? '#bdbdbd' :
         //d > 1 ? '#d9d9d9' :
         //d > 0 ? '#f0f0f0' :
                  '#ffffff';
      }
  }

function basminv2015highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoBasMINV.update(layer.feature.properties);
  }

function basminv2015resetHighlight(e) {
      invalidMayor2015basgeojson.resetStyle(e.target);
      infoBasMINV.update();
  }

function basminv2015EachFeature(feature, layer) {
      layer.on({
          mouseover: basminv2015highlightFeature,
          mouseout: basminv2015resetHighlight,
          click: zoomToFeature
      });
    }

infoBasMINV.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoBasMINV.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Ballots Cast: ' + props.mayorTurnout + '</h4>'
    + '<h4>Invalid Votes: ' + props.mayorInvalid + '</h4>'
    + '<h4>Invalid Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoBasMINV.addTo(map)
//END Mayor BAS INV 2015

//BAS Council INV 2015 /////////////////////////////////////
function bascinv15style(feature) {
  return {
    fillColor: getColor(feature.properties.percent),
    weight: 0.5,
    opacity: 1,
    color: '#FFFFFF',
    dashArray: '0',
    fillOpacity: 0.5
  }

function getColor(d) {
  return d > 5 ? '#000000' :
				 d > 4 ? '#252525' :
				 d > 3 ? '#525252' :
         d > 2 ? '#737373' :
         d > 1 ? '#969696' :
         d > 0 ? '#bdbdbd' :
         //d > 1 ? '#d9d9d9' :
         //d > 0 ? '#f0f0f0' :
                  '#ffffff';
      }
  }

function bascinv2015highlightFeature(e) {
    var layer = e.target;
    layer.setStyle({
      weight: 2,
      color: '#FFFFFF',
      dashArray: '',
      fillOpacity: 0.7
    });
    if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
         layer.bringToFront();
     }
     infoBasCINV.update(layer.feature.properties);
  }

function bascinv2015resetHighlight(e) {
      invalidCouncil2015basgeojson.resetStyle(e.target);
      infoBasCINV.update();
  }

function bascinv2015EachFeature(feature, layer) {
      layer.on({
          mouseover: bascinv2015highlightFeature,
          mouseout: bascinv2015resetHighlight,
          click: zoomToFeature
      });
    }

infoBasCINV.onAdd = function(map) {
    this._div = L.DomUtil.create('div', 'info');
    this.update();
    return this._div;
  };

infoBasCINV.update = function(props) {
    this._div.innerHTML = (props ? '<h3>' + props.bashkia + '</h3>'
    + '<h4>Ballots Cast: ' + props.councilTurnout + '</h4>'
    + '<h4>Invalid Votes: ' + props.councilInvalid + '</h4>'
    + '<h4>Invalid Percentage: ' + props.percent + '%</h4><br><br><br><br><br><br><br><br><br><br><br><br><br><br>' + '' : '')
  };

infoBasCINV.addTo(map)
//END BAS CINV 2015

//ALL  /////////////
function zoomToFeature(e) {
    map.fitBounds(e.target.getBounds());
  }

//VTQark
var turnout2013qarkgeojson = L.geoJson(turnout2013qark, {
    style: qarkvtstyle,
    onEachFeature: qarkvt2013EachFeature
});

  //VTBas
var turnout2013basgeojson = L.geoJson(turnout2013bas, {
    style: basvtstyle,
    onEachFeature: basvt2013EachFeature
});

//VTKom
var turnout2013Komgeojson = L.geoJson(turnout2013Kom, {
    style: komvtstyle,
    onEachFeature: komvt2013EachFeature
});

  //INVBas
var invalid2013basgeojson = L.geoJson(invalid2013bas, {
    style: basinvstyle,
    onEachFeature: basinv2013EachFeature
});

  //INVKom
var invalid2013komgeojson = L.geoJson(invalid2013kom, {
    style: kominvstyle,
    onEachFeature: kominv2013EachFeature
});

//VTBas
var turnout2015basgeojson = L.geoJson(turnout2015bas, {
    style: basvt15style,
    onEachFeature: basvt2015EachFeature
});

//VTM vs F
var mvfTurnout2015basgeojson = L.geoJson(mvfTurnout2015bas, {
    style: basmvfstyle,
    onEachFeature: basMVFeachFeature
});

//VTMale
var maleTurnout2015basgeojson = L.geoJson(maleTurnout2015bas, {
    style: basmvtstyle,
    onEachFeature: basMVTeachFeature
});

//VTFemale
var femaleTurnout2015basgeojson = L.geoJson(femaleTurnout2015bas, {
    style: basfvtstyle,
    onEachFeature: basFVTeachFeature
});

//MINVBas
var invalidMayor2015basgeojson = L.geoJson(invalidMayor2015bas, {
    style: basminv15style,
    onEachFeature: basminv2015EachFeature
});

//CINVBas
var invalidCouncil2015basgeojson = L.geoJson(invalidCouncil2015bas, {
    style: bascinv15style,
    onEachFeature: bascinv2015EachFeature
});

var overlayMaps = {
  "2015 Turnout - Bashkia": turnout2015basgeojson,
  "2015 Turnout - Bashkia (Mashkull)": maleTurnout2015basgeojson,
  "2015 Turnout - Bashkia (Femër)": femaleTurnout2015basgeojson,
  "2015 Turnout - Bashkia (M vs F)": mvfTurnout2015basgeojson,
  "2013 Turnout - Qark": turnout2013qarkgeojson,
  "2013 Turnout - Bashkia": turnout2013basgeojson,
  "2013 Turnout - Komune": turnout2013Komgeojson,
	"2015 Invalid - Bashkia (Kryetar)": invalidMayor2015basgeojson,
	"2015 Invalid - Bashkia (Këshill)": invalidCouncil2015basgeojson,
  "2013 Invalid - Bashkia": invalid2013basgeojson,
	"2013 Invalid - Komune": invalid2013komgeojson
};

map.addLayer(turnout2015basgeojson);
L.control.layers(overlayMaps, null, {collapsed:false, position: 'bottomleft'}).addTo(map);

</script>
{{super()}}
{% endblock %}
